body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F1ECBB;
  }
  .container {
    position: relative;
    background: #BBE7F1;
    height: 15vh;
  }
  .nami2{
    position: relative;
    width: 90%;
    z-index: 9999;
    top: -10%;
    left: 1%;  }
  .nami2 img{
    width: 25%;
  }
.nami2::before, .nami2::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;  /* .nami1 と同じ幅にする */
  height: 100%;
  background-image: url(../asset/img/nami.png); /* 背景画像として設定 */
  background-size: contain;  /* 画像を要素のサイズに収める */
  background-repeat: no-repeat;
}
.nami2::before {
  right: 17%;
    width: 25%;
    top: -9%
}

.nami2::after {
    left: 18%;
    top: -80%;
  width: 25%;
}   
  .blog-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 20px auto 0;
  }
  .blog-card {
    background-color: #E4DFAA;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .thumbnail {
    width: 100%;
    height:200px;
    background-color: #ffffe6;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  h4 {
    color: #2f6e4f;
    font-size: 25px;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }
  .footer-main_word{
    line-height: 1.5;
    color: #fff;
  }
  .blog-title {
    text-align: center;
    z-index: 9999;
    position: relative;
    padding-top: 2%;
  }  /* タブレット以上（2カラム） */
  @media (min-width: 600px) {
    .blog-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* デスクトップ（3カラム） */
  @media (min-width: 900px) {
    .blog-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }