html {
    font-size: 62.5%; /*16px * 62.5% =10px */
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .zen-kaku-gothic-new-bold {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
     font-size: 1.6rem;
     font-weight: 400;
     line-height: 2.6rem;
     text-align: left;
     background-color: #F1ECBB;
     color: #000;
   }
   p{
    line-height: 2.6rem;
   }
   a {
    text-decoration: none;
   }
   h2{
    font-size: 5.0rem;
    color:#fff;
   }
   h3{
    font-size: 7.5rem;
    color: #228E61;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
   }
   h4{
    font-size: 3.2rem;
    font-weight: 700;
   }
   h5{
    font-size: 2.4rem;
    line-height: 3.6rem;
   }
   h6{
    font-size: 1.6rem;
    font-weight: 700;
   }
      /* ハンバーガーメニュー */
      .drawer-hidden {
        display: none;
      }
      .menu-drawer {
        position: fixed;
        width: 55px;
        right: 10%;
        top: 0;
        cursor: pointer;
        z-index: 99999;
      }
      .menu-button {
        background-color:#2EA875;
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        top: 10px;
        z-index: 100; /* 重なり順を一番上に */
        border-radius: 15px;
      }
      .menu-button:after , .menu-button:before{
        background-color:none ;
      }
      .menu-button span, .menu-button span:before, .menu-button span:after {
        content: '';
        display: block;
        height: 1px;
        width: 25px;
        border-radius: 3px;
        background: #fff;
        transition: 0.5s;
        position: absolute;
        top: 18px;
      }
      /* 三本線のうち一番上の棒の位置調整 */
      .menu-button span:before {
        top: 10px;
      }
    .mobile-logo-top{
          position: fixed;
        width: 8%;
        left: 10%;
        top: 0;
        cursor: pointer;
        z-index: 99999;
    }
      /* 三本線のうち一番下の棒の位置調整 */
      .menu-button span:after {
        top: 20px;
      }
      #drawer-check:checked ~ .menu-button span {
        background: rgba(255, 255, 255, 0);
      }
      #drawer-check:checked ~ .menu-button span::before {
        top: 0;
        transform: rotate(45deg);
      }
      #drawer-check:checked ~ .menu-button span::after {
        top: 0;
        transform: rotate(-45deg);
      }
      /* メニューのデザイン*/
      .drawer-content {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%; /* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #2EA875;
        transition: .5s;
      }
    .drawer-list {
        display: flex;
        line-height: 5.0rem;
        margin: 5% auto;
        padding: 1% 16% 50% 10%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
     
      .drawer-list_img {
        width: 100%;
      }
      .drawer-list_img img {
        width: 200px;
      }
      .drawer-item {
        width: 100%;
      }
      .drawer-item p{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.4rem;
      }
      /* アイコンがクリックされたらメニューを表示 */
      #drawer-check:checked ~ .drawer-content {
        left: 0; /* メニューを画面に入れる */
      }
      #drawer-check:checked ~ .drawer-close {
        left: 0; /* 閉じるための要素を画面内へ */
      }
   .firstviwe{
    position: relative;
   }
   .container {
    position: relative;
    background: #BBE7F1;
    height: 15vh;
  }
  .nami1{
    position: relative; 
    width: 420px;
    z-index: 9999;
    top: 10%;
    left: 10%;
  }
.nami1::before, .nami1::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;  /* .nami1 と同じ幅にする */
  height: 100%;
  background-image: url(../asset/img/nami.png); /* 背景画像として設定 */
  background-size: contain;  /* 画像を要素のサイズに収める */
  background-repeat: no-repeat;
}
.nami1::before {
    left: 10%;
}

.nami1::after {
    right: 10%;
}
  .wave {
    position: absolute;
    height: 87px;
    width: 100%;
    background: #BBE7F1;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: #F1ECBB;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: #BBE7F1;
    left: -1.5%;
    top: 40%;
  }
.main_visual-wrapper{
  display:flex;
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;
}
.main_word-container{
  width: 40%;
}
.main_word{
  white-space: nowrap;
  display: inline;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.4em;
  padding: 5px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  margin-top: 20%;
  color: #fff;
}
.logo{
  max-width: 240px;
  margin-bottom: 10%;
  margin-top: 10%;
}
.main_visual-container{
  width:60% ;
}
.main_visual{
  z-index: 999;
  position: relative;
  width: fit-content;
}
.button-reserve-sns{
  display: flex;
  margin-top: 10%;
}
.first-reserve{
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 15px;
  color: #fff;
}
.button-reserves-sns{
  margin-top: 10%;
}
.button-sns{
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 5px 15px 5px 15px;
  margin-left: 30px;
  color: #fff;
}
.container2 {
  position: relative;
  background: #F1ECBB;
  height: 5vh;
}

.wave2 {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #F1ECBB;
  bottom: 0;
}

.wave2::before, .wave2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave2::before {
  width: 55%;
  height: 100%;
  background-color: #F1ECBB;
  right: -1.5%;
  top: 40%;
}
.wave2::after {
  width: 55%;
  height: 109%;
  background-color: #BBE7F1;
  left: -1.5%;
  top: 60%;
}
.about-sec{
  background-color: #BBE7F1;
}
.about-wrapper{
  max-width:1100px;
  width:100%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
}
.about-img{
  width: 50%;
  position: relative;
}
.aboutimg01{
  width: 80%;
}
.aboutimg02{
  width: 40%;
  position: relative;
  left: 50%;
  bottom: 8%;
}
.about-description-sec{
  width: 50%;
  margin: auto;
}
.head-about{
  margin-bottom: 45px;
  
}
.sub-about-head{
  font-size:2.4rem;
}
.green{
  color: #228E61;
}
.about-description-sentens{
  line-height: 3.6rem;
  margin-top: 20px;
}
.container3{
  height: 3vh;
  position: relative;
  background: #BBE7F1;
}
.Whatplace-sec{
  position: relative;
}
.Whatplace-wrapper{
  max-width: 1100px;
    margin: 0 auto;
}
.Whatplace-sec h4{
  margin: 60px auto ;
  text-align: center;
  color: #228E61;
}
.Whatplace-corporate-sec{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  gap: 5%;
  margin-bottom: 30px;
}
.Whatplace-personal-sec{
display: flex;
width: 100%;
justify-content: center;
align-items: flex-end;
gap: 5%;
margin-bottom: 30px;
margin-top: 30px;
}
.Whatplace-local-sec{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5%;
  margin-top: 30px;
}
.corporate-description-sec h5{
margin-bottom: 30px;
}
.personal-description-sec h5{
  margin-bottom: 30px;
  }
  .Whatplace-description-sec h5{
    margin-bottom: 30px;
    }
.width{
  width: 40%;
}
.recommend-user{
  background-color: #2EA875;
  padding: 50px 0;
  margin-top: 50px;
}
.recommend-user-wrapper{
  margin: 0 auto 40px;
  max-width: 1100px;
}
.recommend-user-wrapper h4{
  margin: 0 auto 30px ;
  text-align: center;
  color: #fff;
}
.recommend-user-wrapper p{
  color: #fff;
}
.recommend-user-wrapper h5{
  color: #fff;
}
.recomend-local-sec{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  gap: 5%;
}
.recomend-local-description-sec{
  width: 50%;
}
.recomend-local-description-sec h5{
margin-bottom: 20px;
}
.recomend-local-img-sec{
  width: 50%;
}
.recomend-freedom-sec{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  gap: 5%;
}
.freedom-description-sec{
  width: 50%;
}
.freedom-description-sec h5{
  margin-bottom: 20px;
}
.freedom-img-sec{
  width: 50%;
}
.recomend-ivent-sec{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  gap: 5%;
}
.ivent-description-sec{
  width: 50%;
}
.ivent-description-sec h5{
  margin-bottom: 20px;
}
.ivent-img-sec{
  width: 50%;
}
.blog-sec{
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}
.blog-sec h4{
  margin: 60px auto ;
  text-align: center;
  color: #228E61;
}
.reserve-sec{
  background-color: #BDF1A2;
  border-radius: 50px;
}
.reserve-wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
} 
.reserve-wrapper h3{
  margin-bottom: 30px;
}
  .reserve-wrapper h4{
  margin-bottom: 30px;
}
.reserve-wrapper p{
  margin-bottom: 30px;
}
.reserve-wrapper a{
  box-shadow: 6px 6px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 10px;
  color: #fff;
}
.access-sec{
  max-width: 1100px;
  margin: 60px auto;
}
.access-sec-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.access-adress-map{
  background-color: #E4DFAA;
  padding: 15px;
  border-radius: 15px;
  margin-top: 70%;
}
.access-adress-osuume{
  display: flex;
  background-color: #E4DFAA;
  padding: 15px;
  border-radius: 15px;
  margin: 25px auto 0 auto;
  width: 90%;
  align-items: center;
  gap: 3%;
}
footer {
  background-color: #5DA56E; /* 緑色の背景 */
  color: white;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  border-top-left-radius: 50px; /* 角を丸くする */
  border-top-right-radius: 50px;
}

footer span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: #5DA56E;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 20px;
}

footer ul li {
  font-size: 16px;
  cursor: pointer;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer address {
  font-size: 12px;
  line-height: 1.5;
}

/* 背景の模様 */
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('pattern.png'); /* 背景の模様画像を適用 */
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  z-index: 0;
}
.pc{
  display: block;
}
.mobile{
  display: none;
}
@media (max-width: 450px){
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
     font-size: 1.4rem;
     font-weight: 400;
     line-height: 2.3rem;
   }
   h3 {
    font-size: 5.5rem;
   }
   h4 {
    font-size: 2.7rem;
   }
  .main_visual-wrapper{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 95%;
    flex-direction: column-reverse;
    padding-bottom: 60px;
    }

  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
  .main-logo {
    width: 20%;
    margin: 0;
    margin-top: 20px;
}
.main_word{
  font-size: 4.5rem;
  margin-top: 10%;
}
.main_visual-container {
  width: 100%;
}
.button-reserve-sns {
  display: flex;
  margin-top: 15%;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: center;
}
.button-sns {
  margin-left: 0px; 
 
}
.first-reserve {
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 16px;
  color: #fff;
  width: 100%;
}

.about-wrapper {
  flex-direction: column-reverse;
}
.head-about {
  margin-bottom: 30px;
}
.about-description-sec {
  width: 95%;
  margin: 0 auto;
}
.about-img {
  width: 90%;
  margin:10px auto 10px;
}
.Whatplace-corporate-sec {
  flex-direction: column;
  flex-wrap: nowrap;
}
.width {
  width: 90%;
  margin: 0 auto;
}
.Whatplace-personal-sec 
{
  flex-direction: column;
  flex-wrap: nowrap;
}
.Whatplace-local-sec{
  flex-direction: column;
  flex-wrap: nowrap;
}
.corporate-description-sec, .personal-description-sec, .Whatplace-description-sec {
  width: 90%;
  margin: 0 auto;
}
.corporate-description-sec h5, .personal-description-sec h5, .Whatplace-description-sec h5 {
  margin-bottom: 20px;
}
.recomend-local-sec {
  align-items: center;
  flex-direction: column;
}
.recomend-local-img-sec, .freedom-img-sec, .ivent-img-sec {
  width: 90%;
}
.recomend-local-description-sec, .freedom-description-sec, .ivent-description-sec {
  width: 90%;
}
}