html {
    font-size: 62.5%; /*16px * 62.5% =10px */
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .zen-kaku-gothic-new-bold {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .comonn{
    position: absolute;
    width: 6%;
  }
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
     font-size: 1.6rem;
     font-weight: 400;
     line-height: 2.6rem;
     text-align: left;
     background-color: #F1ECBB;
     color: #000;
   }
   p{
    line-height: 2.6rem;
   }
   a {
    text-decoration: none;
   }
   h2{
    font-size: 5.0rem;
    color:#fff;
   }
   h3{
    font-size: 7.5rem;
    color: #228E61;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
   }
   h4{
    font-size: 3.2rem;
    font-weight: 700;
   }
   h5{
    font-size: 2.4rem;
    line-height: 3.6rem;
   }
   h6{
    font-size: 1.6rem;
    font-weight: 700;
   }
      /* ハンバーガーメニュー */
      .drawer-hidden {
        display: none;
      }
      .menu-drawer {
        position: fixed;
        width: 55px;
        right: 5%;
        top: 0;
        cursor: pointer;
        z-index: 99999;
      }
      .menu-button {
        background-color:#2EA875;
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        top: 10px;
        z-index: 100; /* 重なり順を一番上に */
        border-radius: 15px;
      }
      .menu-button:after , .menu-button:before{
        background-color:none ;
      }
      .menu-button span, .menu-button span:before, .menu-button span:after {
        content: '';
        display: block;
        height: 1px;
        width: 25px;
        border-radius: 3px;
        background: #fff;
        transition: 0.5s;
        position: absolute;
        top: 18px;
      }
      /* 三本線のうち一番上の棒の位置調整 */
      .menu-button span:before {
        top: 10px;
      }
    .mobile-logo-top{
          position: fixed;
        width: 8%;
        left: 10%;
        top: 0;
        cursor: pointer;
        z-index: 99999;
    }
      /* 三本線のうち一番下の棒の位置調整 */
      .menu-button span:after {
        top: 20px;
      }
      #drawer-check:checked ~ .menu-button span {
        background: rgba(255, 255, 255, 0);
      }
      #drawer-check:checked ~ .menu-button span::before {
        top: 0;
        transform: rotate(45deg);
      }
      #drawer-check:checked ~ .menu-button span::after {
        top: 0;
        transform: rotate(-45deg);
      }
      /* メニューのデザイン*/
      .drawer-content {
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%; /* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #2EA875;
        transition: .5s;
      }
    .drawer-list {
        display: flex;
        line-height: 5.0rem;
        margin: 5% auto;
        padding: 1% 16% 50% 10%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
     
      .drawer-list_img {
        width: 100%;
      }
      .drawer-list_img img {
        width: 200px;
      }
      .drawer-item {
        width: 100%;
      }
      .drawer-item p{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.4rem;
      }
      /* アイコンがクリックされたらメニューを表示 */
      #drawer-check:checked ~ .drawer-content {
        left: 30%; /* メニューを画面に入れる */
      }
      #drawer-check:checked ~ .drawer-close {
        left: 0; /* 閉じるための要素を画面内へ */
      }
      /*----------------ファーストビュー------------*/
   .firstviwe{
    position: relative;
   }
   .container {
    position: relative;
    background: #BBE7F1;
    height: 15vh;
  }
  .nami1{
    position: relative;
    width: 90%;
    z-index: 9999;
    top: 10%;
    left: 10%;  }
  .nami1 img{
    width: 25%;
  }
.nami1::before, .nami1::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;  /* .nami1 と同じ幅にする */
  height: 100%;
  background-image: url(../asset/img/nami.png); /* 背景画像として設定 */
  background-size: contain;  /* 画像を要素のサイズに収める */
  background-repeat: no-repeat;
}
.nami1::before {
  right: 17%;
    width: 25%;
    top: -9%
}

.nami1::after {
  left: 25%;
  top: 21%;
  width: 25%;
}
  .wave {
    position: absolute;
    height: 87px;
    width: 100%;
    background: #BBE7F1;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: #F1ECBB;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: #BBE7F1;
    left: -1.5%;
    top: 40%;
  }
.main_visual-wrapper{
  display:flex;
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;
}
.main_word-container{
  width: 40%;
  
}
.main_word{
  white-space: nowrap;
  display: inline;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.4em;
  padding: 5px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  margin-top: 20%;
  color: #fff;
  transition: 1.4s cubic-bezier(0.37, 0, 0.63, 1);
  transition-property: clip-path;
}
.main_word.is-animated {
  clip-path: inset(0);
}
.relax{
  bottom: -6%;
  z-index: 999;
  right: 29%;
}
.fishing{
  left: 35%;
  width: 9%;
  bottom: -2%;
  z-index: 999;
}
.about-sec{
  position: relative;
}
.kikyu{
  right: 3%;
    top: 1%;
}
.yotto{
  bottom: 3%;
  z-index: 9999;
}
.moterboat{
  left: 38%;
  z-index: 9999;
}
.logo{
  max-width: 240px;
  margin-bottom: 10%;
  margin-top: 10%;
}
.main_visual-container{
  width:60% ;
}
.main_visual{
  z-index: 999;
  position: relative;
  width: fit-content;
}
.button-reserve-sns{
  display: flex;
  margin-top: 10%;
}
.first-reserve{
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 15px;
  color: #fff;
  transition: .3s;
}
.first-reserve:hover {
  box-shadow: unset;
  transform: translate(4px,4px);
}
.button-reserves-sns{
  margin-top: 10%;
}
.button-sns{
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 5px 15px 5px 15px;
  margin-left: 30px;
  color: #fff;
  transition: .3s;
}
.button-sns:hover {
  box-shadow: unset;
  transform: translate(4px,4px);
}
.container2 {
  position: relative;
  background: #F1ECBB;
  height: 5vh;
}

.wave2 {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #F1ECBB;
  bottom: 0;
}

.wave2::before, .wave2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave2::before {
  width: 55%;
  height: 100%;
  background-color: #F1ECBB;
  right: -1.5%;
  top: 40%;
}
.wave2::after {
  width: 55%;
  height: 109%;
  background-color: #BBE7F1;
  left: -1.5%;
  top: 60%;
}
.about-sec{
  background-color: #BBE7F1;
}
.about-wrapper{
  max-width:1100px;
  width:100%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
  position: relative;
}
.about-img{
  width: 50%;
  position: relative;
}
.aboutimg01{
  width: 80%;
}
.aboutimg02{
  width: 40%;
  position: relative;
  left: 50%;
  bottom: 8%;
}
.about-description-sec{
  width: 50%;
  margin: auto;
}
.head-about{
  margin-bottom: 45px;
}
.container3 {
  position: relative;
  background:#BBE7F1;
  height: 5vh;
}
.about-description-sentens{
  line-height: 3.6rem;
  margin-top: 20px;
}
.container4 {
  position: relative;
    height: 8vh;
    background-color: #2EA875;
}

.wave4{
  position: absolute;
    height: 70px;
    width: 100%;
    background: #F1ECBB;
    top: -50px;
    z-index: 999;
}

.wave4::before, .wave4::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave4::before {
  width: 55%;
  height: 100%;
  background-color: #F1ECBB;
  right: -1.5%;
  top: 40%;
}
.wave4::after {
  width: 55%;
  height: 109%;
  background-color: #2EA875;
  left: -1.5%;
  top: 60%;
}
/*----------------何をする場所なの------------*/
.Whatplace-sec{
  position: relative;
}
.Whatplace-wrapper{
  max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.Whatplace-sec h4{
  margin: 60px auto ;
  text-align: center;
  color: #228E61;
}
.Whatplace-corporate-sec{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  gap: 5%;
  margin-bottom: 30px;
}
.Whatplace-personal-sec{
display: flex;
width: 100%;
justify-content: center;
align-items: flex-end;
gap: 5%;
margin-bottom: 30px;
margin-top: 30px;
position: relative;
}
.Whatplace-local-sec{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5%;
  margin-top: 30px;
  position: relative;
}
.corporate-description-sec{
position: relative;
}
.kids{
  right: 5%;
  width: 7%;
}
.sleep{
  top: -5%;
  right: 15%;
  width: 7%;
}
.droon{
  left: 16%;
  top: -5%;
}
.cycle{
  left: 4%;
  top: -1%;
}
.sub-about-head{
  font-size:2.4rem;
}
.green{
  color: #228E61;
}
.business{
  right: 3%;
  top: -18%;
  width: 16%;
}

.camp{
  width: 10%;
  width: 10%;
  right: 9%;
  top: 25%;
}
.hanabi{
  left: 0%;
    width: 15%;
    bottom: 20%;
}
.corporate-description-sec h5{
margin-bottom: 10px;
}
.personal-description-sec h5{
  margin-bottom: 10px;
  }
  .Whatplace-local-sec{
    position: relative;
  }
  .local-description-sec h5{
    margin-bottom: 10px;
    }
.width{
  width: 40%;
}

/*----------------こんなひとにおすすめ------------*/
.recommend-user{
  background-color: #2EA875;
  padding: 50px 0;
  margin-top: 50px;
  position: relative;
}
.sunflower1{
  position: absolute;
  z-index: 9999;
  right: 30%;
  top: 7%;
  width: 6%;
}
.sunflower2{
  position: absolute;
  z-index: 9999;
  left: 30%;
  top: 7%;
  width: 6%;
}
.flower{
  position: relative;
  width: 90%;
  z-index: 9999;
  top: 10%;
  left: 10%;  }
  .flower2{
    position: relative;
    width: 90%;
    z-index: 9999;
    top: 10%;
    right: 10%;
  }
  .flower3{
    position: relative;
    width: 90%;
    z-index: 9999;
    top: 10%;
    right: 30%;
  }
.flower img{
  width: 3%;
}
.flower::before, .flower::after {
content: "";
display: block;
position: absolute;
width: 100%;  /* .nami1 と同じ幅にする */
height: 100%;
background-image: url(../asset/img/pattern.png); /* 背景画像として設定 */
background-size: contain;  /* 画像を要素のサイズに収める */
background-repeat: no-repeat;
}
.flower::before {
  right: 0%;
  width: 4%;
  top: -9%;
}

.flower::after {
  right: 19%;
  top: 21%;
  width: 4%;
}
.recommend-user-wrapper{
  margin: 0 auto 40px;
  max-width: 1100px;
}
.recommend-user-wrapper h4{
  margin:30px auto;
  text-align: center;
  color: #fff;
}
.recommend-user-wrapper p{
  color: #fff;
}
.recommend-user-wrapper h5{
  color: #fff;
}
.recomend-local-sec{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  gap: 5%;
  flex-direction: row-reverse;
}
.recomend-local-description-sec{
  width: 50%;
}
.recomend-local-description-sec h5{
margin-bottom: 20px;
}
.recomend-local-img-sec{
  width: 50%;
}
.recomend-freedom-sec{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  gap: 5%;
  flex-direction: row-reverse;
}
.freedom-description-sec{
  width: 50%;
}
.freedom-description-sec h5{
  margin-bottom: 20px;
}
.freedom-img-sec{
  width: 50%;
}
.recomend-ivent-sec{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  gap: 5%;
  flex-direction: row-reverse;
}
.ivent-description-sec{
  width: 50%;
}
.ivent-description-sec h5{
  margin-bottom: 20px;
}
.ivent-img-sec{
  width: 50%;
}

.container5{
  height: 3vh;
  position: relative;
  background: #2EA875;
}
.wave5 {
  position: absolute;
  height: 87px;
  width: 100%;
  background: #2EA875;
  bottom: 0;
}

.wave5::before, .wave5::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave5::before {
  width: 55%;
  height: 109%;
  background-color: #F1ECBB;
  right: -1.5%;
  top: 60%;
}
.wave5::after {
  width: 55%;
  height: 100%;
  background-color: #2EA875;
  left: -1.5%;
  top: 40%;
}
/*----------------ブログ------------*/
.blog-sec{
  position: relative;
}

.blog-sec-wrapper{
  padding: 50px 0;
  max-width: 1100px;
  margin: 0 auto;
}
.blog-sec h4{
  margin: 60px auto ;
  text-align: center;
  color: #228E61;
}

/*----------------予約-----------------*/
.reserve-sec{
  background-color: #BDF1A2;
  border-radius: 50px;
  position: relative;
}
.hata1{
position: absolute;
left: 0;
top: 0;
width: 25%;
transform: scale(-1, 1);
}
.hata2{
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;  
  }
.music01{
  right: 10%;
    top: 30%;
    width: 13%;
}
.music02{
  left: 10%;
    top: 30%;
    width: 11%;
}
.kitchencar{
  right: 10%;
  bottom: 12%;
  width: 7%;
}
.camp03{
  left: 10%;
  bottom: 14%;
  width: 13%;
}
.reserve-wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  position: relative;
} 
.reserve-wrapper h3{
  margin-bottom: 30px;
}
  .reserve-wrapper h4{
  margin-bottom: 30px;
}
.reserve-wrapper p{
  margin-bottom: 30px;
}
.reserve-wrapper a{
  box-shadow: 6px 6px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 10px;
  color: #fff;
}
.reserve-wrapper a{
  transition: .3s;
}
.reserve-wrapper a:hover {
  box-shadow: unset;
  transform: translate(4px,4px);
}
/*----------------アクセス------------*/
.access-sec{
  max-width: 1100px;
  margin: 60px auto;
}
.access-sec-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.access-adress-map{
  background-color: #E4DFAA;
  padding: 15px;
  border-radius: 15px;
  margin-top: 70%;
}
.access-adress-osuume{
  display: flex;
  background-color: #E4DFAA;
  padding: 15px;
  border-radius: 15px;
  margin: 25px auto 0 auto;
  width: 90%;
  align-items: center;
  gap: 3%;
}
/*----------------ふったー------------*/
footer {
  background-color: #5DA56E; /* 緑色の背景 */
  color: white;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  border-top-left-radius: 50px; /* 角を丸くする */
  border-top-right-radius: 50px;
}
.footerwrapper{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
footer span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: #5DA56E;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin-bottom: 30px;
}

footer ul li {
  font-size: 16px;
  cursor: pointer;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-adress{
  width: 100%;
}
footer address {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
}
.logofooter{
  width: 20%;
    display: inline-block;
}
.logofooter img{
  width: 80%;
  background-color: #FFF;
}
/* 背景の模様 */
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../asset/img/pattern.png'); /* 背景の模様画像を適用 */
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  z-index: 0;
}
.footer-main_word{
  text-align: left;
  border-bottom: solid 0.5px;
  padding-bottom: 10px;
} 
.footer-adrees-logo{
  display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
}
.pc{
  display: block;
}
.mobile{
  display: none;
}
/*----------------モバイル――――――――------------*/
@media (max-width: 500px){
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
     font-size: 1.4rem;
     font-weight: 400;
     line-height: 2.3rem;
   }
   h3 {
    font-size: 5.5rem;
   }
   h4 {
    font-size: 2.7rem;
   }
   .main_word-container {
    width: 90%;
}
  .main_visual-wrapper{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 95%;
    flex-direction: column-reverse;
    padding-bottom: 60px;
    }
    p {
      line-height: 2.4rem;
  }
  
  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
  .comonn{
    width: 13%;
  }
  .main-logo {
    width: 25%;
    margin: 0;
    margin-top: 20px;
}
.mobile-logo-top {
  position: fixed;
  width: 100%;
  left: 3%;

  
}
.main_word{
  font-size: 4.3rem;
  margin-top: 10%;
}
.main_visual-container {
  width: 100%;
}
.nami1::before, .nami1::after {
  width: 60%;
  height: 100%;
}
.nami1::after {
  right: 20%;
  top: 30%;
}
.nami1 img{
  display: none;
}
.button-reserve-sns {
  display: flex;
  margin-top: 15%;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.relax {
 width: 15%;
}
.fishing {
  left: 10%;
  width: 22%;
  bottom: -1%;
}
.button-sns {
  margin-left: 20px; 
 
}
.first-reserve {
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 16px;
  color: #fff;
}
.kikyu {
  right: 3%;
  top: 1%;
  width: 13%;
}
.about-wrapper {
  flex-direction: column-reverse;
}
.head-about {
  margin-bottom: 30px;
}
.about-description-sec {
  width: 95%;
  margin: 0 auto;
}

.about-img {
  width: 90%;
  margin:10px auto 10px;
}
.wave {
  height: 60px;
  
}
.Whatplace-corporate-sec {
  flex-direction: column;
  flex-wrap: nowrap;
}

.kids {
  width: 9%;
}
.droon {
  left: 9%;
  top: -2%;
  width: 7%;
}
.cycle {
  left: 1%;
  top: 1%;
  width: 7%;
}
.sleep {
  top: -3%;
  right: 15%;
  width: 7%;
}
.camp {
  width: 22%;
  right: 9%;
  bottom: 35%;
  top: auto;
}
.hanabi {
  right: 1%;
  width: 24%;
  bottom: 40%;
  left: auto;
}
.sunflower1{
  position: absolute;
  z-index: 9999;
  right: 5%;
  top: 4%;
  width: 15%;
}
.sunflower2{
  position: absolute;
  z-index: 9999;
  left: 5%;
  top: 4%;
  width: 15%;
}
.music02 {
  left: 7%;
  top: 21%;
  width: 14%;
}
.music01 {
  right: 7%;
  top: 20%;
  width: 15%;
}
.camp03 {
  left: 10%;
  bottom: 9%;
  width: 17%;
}
.kitchencar {
    right: 10%;
    bottom: 6%;
    width: 12%;
}
.reserve-wrapper {
  padding: 40px 0 55px;

}
.access-sec{
  margin: 60px auto 30px;
}
.width {
  width: 90%;
  margin: 0 auto;
}
.Whatplace-sec h4 {
  margin:50px auto 30px
}
.Whatplace-personal-sec 
{
  flex-direction: column;
  flex-wrap: nowrap;
}
.Whatplace-local-sec{
  flex-direction: column;
  flex-wrap: nowrap;
}
.corporate-description-sec, .personal-description-sec, .local-description-sec {
  width: 90%;
  margin: 0 auto;
  padding-left: 2%;
}
.recommend-user {
  margin-top: 20px;
}
.recommend-user-wrapper {
  margin: 0 auto 20px;
  max-width: 1100px;
}
.container4 {

  height: 5vh;
}
.corporate-description-sec h5, .personal-description-sec h5, .local-description-sec h5 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.recomend-local-sec, .recomend-freedom-sec, .recomend-ivent-sec {
  align-items: center;
  flex-direction: column;
}
.recomend-local-img-sec, .freedom-img-sec, .ivent-img-sec {
  width: 90%;
}
.recomend-local-description-sec, .freedom-description-sec, .ivent-description-sec {
  width: 90%;
  padding-left: 2%
}
.recomend-local-description-sec h5,.ivent-description-sec h5,.freedom-description-sec h5 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.blog-sec h3{
margin-left: 5%;
}
.access-sec h3 {
  margin-bottom: 20px;
  text-align: center;
}
.access-sec h5{
text-align: center;
margin-bottom: 20px;

}
.access-sec-wrapper {
  flex-direction: column-reverse;
  justify-content: space-around;
  flex-direction: flex-start;
  margin-left: 5%;
  width:90% ;
  align-items: normal;
}
.access-adress-map {
  background-color: #E4DFAA;
  padding: 15px;
  border-radius: 15px;
  margin-top: 30px;
}
.map {
  width: 100%;
}
.map iframe{
  width:100%;
}
.access-adress-osuume {
 align-items: flex-start;
  flex-direction: column;
}
footer ul{
  margin-bottom: 0;
    gap: 30px;
 
}

footer ul li {
  font-size: 14px;
  cursor: pointer;
}
footer span {
  top: -20%;
  right: 5%;
}
.logofooter {
  width: 81%;
  display: inline-block;
}
.logofooter img {
  width: 40%;

  margin: 5% auto;
}
footer {
padding: 60px 20px;
}
.footer-adrees-logo {
  flex-direction: column;
}
}