html {
    font-size: 62.5%; /*16px * 62.5% =10px */
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .zen-kaku-gothic-new-bold {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
     font-size: 1.6rem;
     font-weight: 400;
     line-height: 2.6rem;
     text-align: left;
     background-color: #F1ECBB;
     color: #000;
   }
   a {
    text-decoration: none;
   }
   h2{
    font-size: 5.0rem;
    color:#fff;
   }
   h4{
    font-size: 7.5rem;
    color: #228E61;
   }
   .container {
    position: relative;
    background: #BBE7F1;
    height: 15vh;
  }
  
  .wave {
    position: absolute;
    height: 87px;
    width: 100%;
    background: #BBE7F1;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: #F1ECBB;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: #BBE7F1;
    left: -1.5%;
    top: 40%;
  }
.main_visual-wrapper{
  display:flex;
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;
}
.main_word-container{
  width: 40%;
}
.main_word{
  white-space: nowrap;
  display: inline;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.4em;
  padding: 5px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  margin-top: 20%;
  color: #fff;
}
.logo{
  max-width: 240px;
  margin-bottom: 10%;
  margin-top: 10%;
}
.main_visual-container{
  width:60% ;
}
.main_visual{
  z-index: 999;
  position: relative;
  width: fit-content;
}
.button-reserve-sns{
  display: flex;
  margin-top: 10%;
}
.first-reserve{
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 15px;
  color: #fff;
}
.button-reserves-sns{
  margin-top: 10%;
}
.button-sns{
  box-shadow: 8px 8px #228E61;
  border-radius: 10px;
  background: linear-gradient(transparent 0%, #2EA875 0%);
  padding: 5px 15px 5px 15px;
  margin-left: 30px;
  color: #fff;
}
.container2 {
  position: relative;
  background: #F1ECBB;
  height: 5vh;
}

.wave2 {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #F1ECBB;
  bottom: 0;
}

.wave2::before, .wave2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave2::before {
  width: 55%;
  height: 100%;
  background-color: #F1ECBB;
  right: -1.5%;
  top: 40%;
}
.wave2::after {
  width: 55%;
  height: 109%;
  background-color: #BBE7F1;
  left: -1.5%;
  top: 60%;
}
.about-sec{
  background-color: #BBE7F1;
}
.about-wrapper{
  max-width:1100px;
  width:100%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
}
.about-img{
  width: 50%;
  position: relative;
}
.aboutimg01{
  width: 80%;
}
.aboutimg02{
  width: 40%;
  position: absolute;
}
.about-descrption-sec{
  width: 50%;
}
.head-about{
  margin-bottom: 30px;
}

